<div class="col text-center">
  <h2>本当に退会しますか?</h2>
  <p class="mt-4">
    退会すると、会員登録情報やこれまでの購入履歴が閲覧できなくなります。 <br>
    退会する場合は、「退会する」をクリックしてください。
  </p>
  <div class="mt-5 mb-5">
    <%= link_to "退会しない", my_page_path, class: "btn btn-outline-primary mx-3" %>
    <%# WARNING(退会できないエラー) %>
    <%= button_to "退会する", out_customers_path, method: :patch, class: "btn btn-outline-danger mx-3" %>
  </div>
</div>