<div class="col text-center">
  <h2>本当に退会しますか?</h2>
  <p class="mt-4">
    退会すると、会員登録情報やこれまでの購入履歴が閲覧できなくなります。 <br>
    退会する場合は、「退会する」をクリックしてください。
  </p>
  <div class="">
    <%= link_to "退会しない", my_page_path, class: "btn btn-primary mx-3" %>
    <%= link_to "退会する", customers_quit_path, method: :patch, class: "btn btn-danger mx-3" %>
  </div>
</div>