<div class="col text-center">
  <h3>本当に退会しますか?</h3>
  <p>
    退会すると、会員登録情報や <br>
    これまでの購入履歴が閲覧できなくなります。 <br>
    退会する場合は、「退会する」をクリックしてください。
  </p>
  <div class="">
    <%= link_to "退会しない", edit_customers_path, class: "btn btn-primary mx-3" %>
    <%= link_to "退会する", customers_out_path, method: :patch, class: "btn btn-primary mx-3" %>
  </div>
</div>