<h2>注文履歴一覧</h2>

<table class="table table-light table-striped">
  <thead>
    <tr class="bg-black">
      <th>購入日時</th>
      <th>購入者</th>
      <th>注文個数</th>
      <th>注文ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% orders.each do |order| %>
      <tr>
        <th>
          <td><%= link_to order_created_at.strftime("%Y/%m/%d %H:%M:%S"), admin_order_path(order), class: "text-dark" %></td>
          <td><%= order.customer.full_name %></td>
          <td><%= order.status_i18n %></td>
        </th>
      </tr>
    <% end %>
  </tbody>
</table>