<h2>ジャンル編集</h2>

<div class="col-8 mt-5">
  <%= form_with model: @genre, url: admin_genre_path, local:true do |f| %>
    <div class="form-gruoup row">
      <div class="col-3"><%= f.label :ジャンル名 %></div>
      <div class="col-3"><%= f.text_field :name %></div>
      <div class="col-3"><%= f.submit "変更を保存" %></div>
    </div>
  <% end %>
</div>