<h2>ジャンル編集</h2>

<div class="mt-5">
  <%= form_with model: @genre, url: admin_genre_path, local:true do |f| %>
    <div class="form-row">
      <div class="col-7"><%= f.text_field :name, class: "form-control" %></div>
      <div class="col-3"><%= f.submit "ジャンル名を変更", class: "btn btn-primary" %></div>
      <div class="col-2"><%= f.submit "削除", class: "btn btn-danger" %></div>
    </div>
  <% end %>
</div>